    .background-dark{
        background-color: $eerie-black !important;
    }

.navbar-nav{
    .nav-link{
        color: #fff !important;
        
        
        &:hover{
            color: $fuzzy-wuzzy !important;
            
        }
        &:focus{
            color: $fuzzy-wuzzy !important;
            
        }
        &:active{
            color: $fuzzy-wuzzy !important;
            
        }
    }
  
}
.navbar-toggler {
    color: $light-gray;
    border-color: $light-gray;
  }

  .navbar-toggler-icon {
    $navbar-dark-toggler-border-color:  rgba($white, .1);
    $navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$white}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

  }
