.section-autor{
    border: 16px $light-gray;
    font-family: $roboto;
    img{
        border-radius: 50%;
        @media screen and (min-width: 320px) and (max-width:719px){
            width: 133px; 
        }
        @media screen and (min-width: 720px){
            width: 142px; 
        }
    }
    .section-autor__link{
        color: $ruddy-pink;
        font-weight: 300;
        &:hover{
            color: $raisin-black;
        }
        &:active{
            color: $platinum;
        }
    }
    .section-autor__p{
        text-align: justify;
        font-weight: 400;
        color: $raisin-black;
    }
    .section-autor__h3{
        font-family: $playfair;
        font-style: italic;
        font-weight: 900;
        color: $eerie-black;
    }
}

.section-pages{
    background-color: $platinum;
    height: 25vh; 
        
    }
    .section-pages__page-item-left{
        border-top-left-radius: 50rem;
        border-bottom-left-radius: 50rem;
    }